<section class="campeonato-section">
  <div class="container">

    <div class="filters-bar">
      <div class="filter-group">
        <label class="filter-label">Buscar</label>
        <input type="text" class="filter-input" placeholder="Nombre o ciudad..." [value]="searchText()" (input)="searchText.set($any($event.target).value)"/>
      </div>

      <div>
        <label class="filter-label">Estado</label>
        <select class="filter-input" [value]="filtroEstado()" (change)="filtroEstado.set($any($event.target).value)">
          <option value="todos">Todos</option>
          <option value="futuro">Próximo</option>
          <option value="activo">En curso</option>
          <option value="pasado">Finalizado</option>
        </select>
      </div>

      <div>
        <label class="filter-label">Nivel</label>
        <select class="filter-input" [value]="filtroNivel()" (change)="filtroNivel.set($any($event.target).value)">
          <option value="todos">Todos</option>
          <option value="provincial">Provincial</option>
          <option value="nacional">Nacional</option>
        </select>
      </div>
    </div>

    @if (!loading() && !error()) {
      <div class="campeonatos-grid">
        @for (c of filtered(); track c.id_campeonato) {
          <div class="card" [routerLink]="['/campeonato', c.id_campeonato]">
            <div class="card-image">
              <div class="placeholder-img">
                <img src="{{c.urlPortada}}">
                <p></p>
              </div>
            </div>
            <div class="card-title">
              <h3>{{ c.nombre }}</h3>
            </div>
          </div>
        }
      </div>
    }
  </div>
</section>
